* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
  width: 60%;
  height: fit-content;
  margin: 40px auto;
  grid-gap: 25px;
}

.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  flex-basis: 20%;
  background-color: black;
  border-radius: 5px;
  box-shadow: 5px 5px 10px 1px darkblue;
}

img {
  width: 80%;
  height: 14rem;
  border-radius: 300px;
}
p {
  color: white;
  margin-top: 4px;
  margin-bottom: 4px;
}
